<!DOCTYPE html>
{%extends "app_blog/base.html"%}

{%block body_block%}
<div class="container">
    <h1 style="text-align: center;">UrWay</h1>
    <hr>
    <p style="text-align: center;">about</p>
    <br><br>
<p>This is a blog post platform. In this website you can put your opinons, your thoughts and the experiences 
of your life that you want  others to learn form the posts.
</p> 

<p>Here you can read the blogs & comment your thoughts. <br> blogs can be shared in any platform.</p>
<hr>
</div>
{%endblock%}