<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>base</title>
    <link rel="stylesheet" href="{% static 'css/blogsstyle.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="index.html">UrWay</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="{% url 'app_blog:index'%}">Home <span class="sr-only"></span></a>
            <a class="nav-item nav-link  " href="{% url 'app_blog:about'%}">about</a>
            <a class="nav-item nav-link " href="{%url 'app_blog:register'%}">register</a>
            {% if  user.is_authenticated %}
                <li><a class="nav-item nav-link " href="{%url 'logout'%}">Logout</a></li>

              {% else %}
              <li><a  class="nav-item nav-link " href="{%url 'app_blog:userlogin'%}">Login</a></li>
            {% endif %}
            <!-- <a class="nav-item nav-link disabled" href="#">Disabled</a> -->
          </div>
        </div>
      </nav>


          {% block body_block%}

          {% endblock%}
      

</body>
</html>